<%% content_for :title, "重置密码" %>
<h1>重置密码</h1>

<%%= form_with url: admin_passwords_path, scope: :admin_password do |f| %>
  <%%= f.hidden_field :token, value: @token %>
  <div class="mb-3">
    <%%= f.label :password %>
    <%%= f.password_field :password, class: "border p-2 w-64" %>
  </div>
  <div>
    <%%= f.submit "重置密码", class: "px-3 py-1 rounded bg-blue-600 text-white hover:bg-blue-700" %>
  </div>
<%% end %>

<%%= render "admin/shared/auth_links" %>
