class CreateFaUserRoles < ActiveRecord::Migration[8.1]
  def change
    create_table :fa_user_roles do |t|
      t.bigint :user_id, null: false
      t.bigint :role_id, null: false
      t.timestamps
    end
    add_index :fa_user_roles, [:user_id, :role_id], unique: true
  end
end
